* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
}

.app-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 5px;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.search-input-container {
  position: sticky;
  top: 0;
}

.stock-search-input-field {
  width: 90%;
}

.stock-symbol-option {
  cursor: pointer;
}